/*@@ DEMO CSS 
***************/

label:hover {
    cursor: pointer;
}

.center-content {
    display: flex;
    flex-flow: column;
    place-content: center space-between;
    min-height: 100vh;
}

.center-content > * {
    flex: 0 0 auto;
}

.controls {
    background: rgba(255,255,255,1);
    position: relative;
    z-index: 4;
}

input[name="options"]:checked ~ .options {
    opacity: 1;
    z-index: 2;
}

input[type="number"] {
    text-align: center;
}

.options { 
    display: flex;
    flex-flow: column;
    place-content: center;
    min-height: 100%;
    width: 100%;
    background: rgba(92,24,81,.9);
    padding: 20px;
    font-size: calc(.5vw + 16px);
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    margin: auto;
    opacity: 0;
    z-index: -1;
    transition: all 0.5s;
}

.ui-btn {
    background: transparent;
    border: 2px solid;
    outline: none;
    position: relative;
    display: inline-block;
    padding: 6px;
    color: #fff;
}

.ui-btn:hover {
    cursor: pointer;
}

*[for="options"],
*[data-attr="reset"] {
    padding: 10px;
    font-size: calc(.5vw + 16px);
    text-align: center;
    font-weight: normal;
}

*[for="options"]:after {
    content: "+";
    display: inline-block;
    margin-left: 1%;
    transform: rotate(0deg);
    transition: all 0.2s;
}

*[for="options"]:hover,
*[data-attr="reset"] {
    cursor: pointer;
}

input[name="options"]:checked~*[for="options"]:after {
    transform: rotate(135deg);
}

.btngroup {
    text-align: center;
}

.fgroup {
    display: flex;
    place-content: center;
    align-items: center;
    flex-flow: wrap;
    margin-bottom: 15px;
}

.fgroup > * {
    padding:  0 10px;
    margin-bottom: 15px;
}

.fgroup .fieldset {
    flex: 0 0 70%;
    display: flex;
    flex-flow: wrap;
    place-content: space-between;
}

.fgroup.grid .fieldset {
    flex-flow: column wrap;
}

.fgroup .fieldset > * {
    flex: 1 0 auto;
}

.fieldset.difficulty > * {
    flex: 0 0 24%;
}

.fgroup .fieldset input {
    background: transparent;
    outline: none;
    border: none;
    padding: 5px 7px;
    border-bottom: 2px solid rgba(255,255,255,.7);
    color: #fff;
    transition: all 0.2s;
}

.fgroup .fieldset input:focus {
    background: rgba(0,0,0,.2);
}

.fgroup .fieldset input[name="difficulty"] {
    display: none;
}

.fgroup .fieldset input[name="difficulty"] + label {
    border: 2px solid #fff;
    padding: 7px;
    text-align: center;
    overflow: hidden;
    position: relative;
    z-index: 2;
}

.fgroup .fieldset input[name="difficulty"] + label:before {
    content: '';
    background: rgba(0,0,0,1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 0;
    height: 0;
    opacity: 0;
    z-index: -1;
    transition: all 0.2s;
}

.fgroup .fieldset input[name="difficulty"]:checked + label:before {
    width: 100%;
    height: 100%;
    opacity: 1;
}